body{
    background-color: #fff;
    margin: 0;
}
.header_container{
    background-color: #a563a0;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_container a{
    text-decoration: none;
    display: inline-block;
}

#header_title{
    margin:0 auto 0 2vw;
    color: #fff;
    font-size: 3vw;
}

#header_title a{
    color: #fff;
}

.header_menu{
    background-color:#a563a0;
    color:#fff;
    font-size: 2vh;
    height: 100%;
    padding: 1vw;
    list-style: none;
    text-decoration: none;
    display: inline-block;
}
.header_menu a{
    height: 100%;
    color: #fff;
}

.header_menu:hover{
    background-color:#bb8ab7;
    transition: background-color .3s ease-out;
}

.content_container{
    width: 60vw;
    margin: 4vh 20vw;
}

.content_items{
    border: 1px solid #ccc;
    width: 100%;
    box-shadow:0 2px 3px 0 rgba(137,133,133,0.56);
    padding: 2vh 0 ;
}


/* reserve */
.reserve input[type="text"], .reserve input[type="submit"], .reserve input[type="date"], .reserve input[type="time"]{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.reserve input[type="text"], .reserve input[type="date"], .reserve input[type="time"]{
    border-bottom: solid 1px #bb8ab7;
    height: 2vh;
    width: 80%;
    font-size: 1.5vw;
    padding: 5px;
    margin: 20px auto;
    display: block;
}

.reserve input[type="submit"]{
    border: solid 1px #bb8ab7;
    height: 4vh;
    width: 30%;
    padding: 5px;
    font-size: 1vw;
    color: #fff;
    background-color: #a563a0;
    margin: 20px auto;
    display: block;
    transition: 0.25s;
    box-shadow:0 2px 3px 0 rgba(137,133,133,0.5);
}

#every_check{
    margin: 20px auto;
    font-size: 2vw;
    text-align: center;
}
/* END reserve */