{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rec Manager</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/index.css' %}">
</head>
<body>
<div id="app">
    <section class="header_container">
        <div id="header_title"><a href="http://localhost:8000/">RecManager</a></div>
        <ul>
            <li class="header_menu" @click="showmodal=true">予約</li>
            <li class="header_menu">予約リスト</li>
        </ul>
    </section>
    <modal v-if="showmodal" @close="showmodal=false"></modal>
    <section class="content_container">
        <time-table></time-table>
    </section>
</div>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
{% render_bundle 'main' %}
</body>
</html>